@font-face
    font-family 'Lato'
    src url("../fonts/lato/lato-regular.woff2") format('woff2'), url("../fonts/lato/lato-regular.woff") format('woff');
    font-weight normal
    font-style normal

@font-face
    font-family 'Lato Bold'
    src url("../fonts/lato/lato-bold.woff2") format('woff2'), url("../fonts/lato/lato-bold.woff") format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Bebasneue'
    src url("../fonts/bebasneue/bebasneue-regular.woff2") format('woff2'), url("../fonts/bebasneue/bebasneue-regular.woff") format('woff')
    font-weight normal
    font-style normal