@font-face 
    font-family 'promart'
    src url('../fonts/promart.eot?9id19o')
    src url('../fonts/promart.eot?9id19o#iefix') format('embedded-opentype'), url('../fonts/promart.ttf?9id19o') format('truetype'), url('../fonts/promart.woff?9id19o') format('woff'), url('../fonts/promart.svg?9id19o#promart') format('svg')
    font-weight normal
    font-style normal
    
[class^="icon-"],[class*=" icon-"] 
    font-family 'promart' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-centros:before
    content "\e900"

.icon-combazo:before
    content "\e901"

.icon-dormitorio:before
    content "\e902"

.icon-dormitorio2:before
    content "\e903"

.icon-escritorio:before
    content "\e904"

.icon-inicio:before
    content "\e905"

.icon-mas-muebles:before
    content "\e906"

.icon-roperos:before
    content "\e907"

.icon-sala:before
    content "\e908"

.icon-share:before
    content "\e909"
