//colores
c-0 = #000
c-1 = #fff
c-2 = #ff9001
c-3 = #f18985
c-4 = #41b5ce
c-5 = #dbe25a
c-6 = #ffcba8
c-7 = #59bfb4
c-8 = #ffa1b7
c-9 = #3e5b99
c-10 = #1da1f2

//fuentes

t-1 = 'Lato',sans-serif
t-2 = 'Lato Bold',sans-serif
t-3 = 'Bebasneue',sans-serif