/*Style dormitorio*/
.btn-cajones
    width 100%
    height 100%

.sprite
	background-image url("../images/sprite-promart.png")

.vermas
	background-position -34px -248px
	display block
	content ""
	color transparent
	height 50px
	position absolute
	width 47px

	&:hover
		background-position -92px -232px
		height: 62px
		width: 67px
		
.btn-cajones
	
	.nochero
	    left 28%
	    top 62%

	.ropero
    	left 46%
    	top 30%

	.comoda
    	left 94%
    	top 50%
    
    .vermas a
	    display block
	    width 100%
	    height 100%

.btn-nav
	position relative

	.bn-next
		display block
		text-align center
		position absolute
		bottom 20px
		width 100%
		font-size 15px

	.btn-siguiente
		color #ffffff
		padding-right 24px
		
		&:after
		   	content ""
		   	background-image url("../images/sprite-promart.png")
		   	width 26px
		   	height 24px
		   	display block
		   	position absolute
		   	right 0px
		   	top 0px
		   	background-position 9px -274px

.txshadow
    text-shadow 1px 1px #562813
