body.main
	background-image url("../images/pages/foto_main.jpg")
	width 100%
	background-size cover
	background-repeat no-repeat
	background-position center center
	background-attachment fixed

body.dormitorio
    background-image url("../images/pages/dormitorio-principal.jpg")
	width 100%
	background-size cover
	background-repeat no-repeat
	background-position center center
	background-attachment fixed

.content-page
	float left
	width 93%
	height 100%
	
.logo
	display block
	margin 0 auto
	
.mbl
	display none
	
.header-principal
	display none
	background #ffffff
	height 126px
	position fixed
	right 0
	left 0
	z-index 22
	
.vn
	color: #ffffff;
	font-size: 13px;
	top: 23px;
	position: absolute;
	padding-left: 23px;
	text-shadow: 1px 1px #562813;

.ver_navegacion
    left 35px

.ocultar_navegacion
	top 140px !important

.ir_promart
	right 47px

.vn::before
   	content ""
	background-image url("../images/sprite-promart.png")
	width 17px
	height 17px
	display block
	position absolute
	left 0px
	top 5px

.ver_navegacion::before
    background-position -16px -229px

.ir_promart::before
    background-position: -40px -226px
	height 17px
	top 2px