.content-page .title-especial
	font-family 'Lato Bold', sans-serif
	display block
	text-align center
	font-size 50px
	text-transform uppercase
	margin-top 216px
	color #fff
	line-height 60px

.content-page .legenda
	font-size 30px
	color #ffffff
	text-transform uppercase
	text-align center
	display block
	margin-top 22px
	font-family 'Bebasneue', sans-serif
	letter-spacing 1px

.btn
	background #fe9424
	color #fff
	padding 16px
	display block
	margin 5% auto 0 auto
	width 194px
	text-align center
	text-decoration none
	font-size 12px
	letter-spacing 1px
	position relative
	padding-top 13px
	padding-bottom 10px

.btn.ver-ambientes::after
   	content ""
	background-image url("../images/sprite-promart.png")
	width 11px
	height 15px
	display block
	position absolute
	right 20px
	top 17px
	background-position 0px -229px