// Import fonts
@import 'utils/normalize'
//@import 'nib'

@import 'utils/fonts'
@import 'utils/ico'

// Import config
@import 'config/identity'


.wancho
	width 96%
	max-width 100%
	margin auto
body
	font-size 15px
	font-family t-1
	color c-0
a
	color inherit
	&:focus
		outline none
		

// Import animations
@import 'utils/animation'
@import 'blocks/*'